.popup {
  min-width: 300px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup__title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}
.popup__flex {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.popup__item {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.popup__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popup__item:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.692);
}
.popup__return {
  padding: 5px 9px;
  border-radius: 3px;
  margin-top: 20px;

  cursor: pointer;
  margin: 20px auto;
}

.popup__return:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.692);
}
